
.thumbnail {
box-sizing: border-box;
position: relative;
border-radius: 5px;
background-size: cover;
background-repeat: no-repeat;
cursor: pointer;
padding:4px;
}

.thumbnail h2 {
	margin:0;
}

.thumbnail-219 {
	font-size: 0.85em;
width: 219px;
/*height: 128px;*/
}

.thumbnail-108 {
width: 108px;
height: 65px;
font-size: 0.75em;
padding: 5px;
}

.thumbnail-108 h3, .thumbnail-108 h4, .thumbnail-108 h5{
line-height: 1.1em;
margin: 0 0 6px 0;
}

.thumbnail-108 h4{
	font-weight: normal;
	text-align: right;
}
.thumbnail-108:before {
bottom: -3px;
right: -3px;
border-radius: 0 0 7px 0;
}

.thumbnail:before {
content: '';
display: block;
width: 56px;
height: 56px;
border-bottom: 0;
border-right: 0;
border-radius: 0 0 11px 0;
position: absolute;
bottom: -4px;
right: -4px;
z-index: 999;
box-shadow: 1px 3px 0px 0px #c0c0c0;
-webkit-transition: box-shadow .1s linear;
}

.thumbnail:hover:before {
box-shadow: 1px 3px 0px 0px rgba(255, 200, 0, 0.3);
}

.thumbnail.selected:before {
box-shadow: 1px 3px 0px 0px rgba(255, 200, 0, 0.3);
}

.thumbnail:after {
content: '';
display: block;
width: 56px;
height: 56px;
border-top: 0;
border-left: 0;
border-radius: 11px 0 0 0;
position: absolute;
top: -4px;
left: -4px;
z-index: 999;
box-shadow: -1px -3px 0px 0px #c0c0c0;
-webkit-transition: box-shadow .1s linear;
}

.thumbnail:hover:after {
box-shadow: -1px -3px 0px 0px rgba(255, 200, 0, 0.3);
}

.thumbnail.selected:after {
box-shadow: -1px -3px 0px 0px rgba(255, 200, 0, 0.3);
}

.thumbnail.edit:before {
background-color: rgb(0, 0, 0);
border-radius: 41px;
box-shadow: 0px 0px 0 0px rgb(51, 51, 51);
content: "";
color: rgb(255, 255, 255);
display: inline-block;
font-size: 20px;
position: relative;
left: 0; /*need to understand why*/
top: -52%;
width: 2px;
height: 113px;
line-height: 41px;
text-align: center;
-webkit-transform: rotate(45deg);
}

.thumbnail.edit {
	-webkit-animation: jiggle 0.2s infinite 0.05s;
}
.thumbnail.edit:after {
content: none !important;
}

@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: rotate(-1deg);
  }

  50% {
    -webkit-transform: rotate(1deg);
  }
}