body {
font-family: "museo-sans-500", Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color: #333333;
-webkit-font-smoothing: antialiased;
}
@media screen {
  @font-face {
font-family: museo-sans-500;
src: url("./museo-sans-500.woff");
font-weight: normal;
font-style: normal;
}
  @font-face {
    font-family: pictos;
    src: url("pictos.woff");
    font-weight: normal;
    font-style: normal;
  }
    @font-face {
    font-family: helvetica-1;
    src: url("helvetica-1.woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: helvetica-2;
    src: url("helvetica-2.woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: helvetica-3;
    src: url("helvetica-3.woff");
    font-weight: normal;
    font-style: normal;
  }
  }
  .is-selected {
    color: gold !important;    
  }
  .btn {
padding: 0 !important;
cursor: pointer;
color: #000;
border-color: rgba(0, 0, 0, 0.45) rgba(0, 0, 0, 0.45) rgba(0, 0, 0, 0.45) !important;
margin-left: 10px;
font-family: 'pictos';
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: transparent;
-webkit-user-select: none;
text-align: center;
box-sizing: border-box;
border: 2px solid;
}
.btn-80 {
min-width: 80px;
border-radius: 80px !important;
line-height: 77px !important;
height: 80px !important;
font-size: 1.9em;
border: 3px solid;
}
.btn-40 {
min-width: 40px;
border-radius: 40px !important;
line-height: 37px !important;
height: 40px !important;
font-size: 1em;
}
.btn-primary {
border-color: rgba(0,109,204,0.95) rgba(0,109,204,0.95) rgba(0,109,204,0.95) !important;
}
.btn:disabled {
  opacity: 0.3;  
}
body {
       -webkit-user-select:none;
      }
      .list-items {
       box-shadow: 1px 1px 2px 1px rgba(0,0,0,.1);    
       width:300px;
       padding:20px;
       display:inline-block;
       vertical-align: top;
       margin:10px;
      }
      .list-item {
       border:2px solid grey;
       border-radius:15px;
       padding:8px;
       margin:8px;
      }
      .list-item button {
       float:right;      
      }
      h2 {
       clear:both;
       -webkit-user-select:auto;
      }